* {
    box-sizing: border-box;
}

#main-body {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

#head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
}

#text-box {
    display: flex;
    flex-direction: column;
    height: 529px;
    overflow: scroll;
    
}

#separator {
    border-left: 1px solid black;
}

.message {
    display: flex;
}

.avatar {
    display: flex;
    justify-content: center;
    height: 64px;
    width: 64px;
    margin-left: 10px;
    margin-right: 2px;
    margin-top: 12px;  
    border: 1px solid black;
    border-radius: 50%;
}

.initials {
    line-height: 70px;
}

.date-time {
    width: 70px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 12px;
    text-align: center;
}

.some-massage {
    display: flex;
    flex-direction: column;
}

.firsName-secondName {
    margin-left: 10px;
    line-height: 30px;
}

.actual-massage {
    border: 1px solid black;
    width: 600px;
    margin-left: 10px;
    overflow-wrap: break-word;
}